@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.custom-quill .ql-container {
  border: none !important;
  border-radius: 12px !important;
  /* Arrotonda i bordi */
  background-color: transparent !important;
  /* Rendi trasparente lo sfondo */
}

.custom-quill .ql-toolbar {
  border-radius: 12px 12px 0 0 !important;
  /* Arrotonda i bordi della toolbar */
  background-color: white !important;
  /* Rendi trasparente lo sfondo della toolbar */
}

.custom-quill .ql-editor {
  border-radius: 0 0 12px 12px !important;
  /* Arrotonda i bordi dell'editor */
  /* Rendi trasparente lo sfondo dell'editor */
  color: white !important;
  /* Colore del testo */
}

.custom-quill .ql-toolbar button {
  color: white !important;
  /* Colore dei pulsanti della toolbar */
}
