@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Cartoon theme additions */
.rounded-cartoon {
  border-radius: 1.5rem !important;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}