# Node modules
node_modules/

# Yarn Plug'n'Play
/.pnp
.pnp.js

# Coverage directory used by tools like istanbul
coverage/

# Production build
build/
dist/

# Misc
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind CSS build artifacts (if you are using Tailwind CSS)
tailwind.css

# Specific folders for client and server
client/node_modules/
client/build/
client/dist/
client/.env

server/node_modules/
server/dist/
server/.env
